<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">              
                <div class="col-lg-12 text-center">

                    <h2 class="section-heading">OBJETIVOS</h2>
                    <h3 class="section-subheading text-muted">En el proyecto AIGORA se propone implantar el uso de la plataforma GitHub para el desarrollo de la asignatura y enseñar a los alumnos a utilizarla a la vez que aprenden programación, ya que es una herramienta esencial para mantener y compartir código.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-check-circle fa-stack-1x fa-inverse"></i>
                        <!--<i class="fas fa-user-friends"></i>-->
                        <!--<i class="fas fa-user-friends fa-stack-1x fa-inverse"></i>-->
                    </span>
                    <h4 class="service-heading">Aprendizaje Peer-to-Peer</h4>
                    <p class="text-muted">El trabajo de los alumnos en repositorios compartidos donde poder consultar una gran colección de problemas desarrollados por ellos mismos produce un mayor esfuerzo por elaborar código y documentación de calidad y por otro lado un aprendizaje mayor gracias a la revisión del código de sus compañeros. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Trabajo en equipo</h4>
                    <p class="text-muted">Los alumnos utilizan la herramienta para realizar un trabajo en grupo y acercarse así al mundo profesional, ya que, GitHub se ha convertido en el estándar para desarrollar colaborativamente y compartir código.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Aprendizaje transversal</h4>
                    <p class="text-muted">Esta herramienta sirve para mejorar la evaluación, sobre todo en grupos numerosos, ya que, permite premiar en la evaluación continua a aquellos alumnos que realizan un mayor número de contribuciones en los repositorios. Por otro lado, conocer el control de versiones les servirá tanto en cursos posteriores como en posibles trabajos académicos y profesionales.</p>
                </div>
            </div>
        </div>
    </section>
